.order-history {
  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-bottom: 32px;
  }

  &__card {
    padding: 24px;
    box-shadow: 2px 4px 16px 0px rgba(92, 92, 92, 0.08);

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
    }

    &-title {
      margin-bottom: 4px;
      font-size: 20px;
      font-weight: 700;
      font-family: $ffCirce, $ffDefault;
      line-height: 24px;
      // color: rgba($gray1, 0.5);
      color: #5C5C5C;
    }

    &-text {
      font-size: 16px;
      font-weight: 400;
      font-family: $ffCirce, $ffDefault;
      line-height: 19px;
      // color: rgba($gray1, 0.5);
      // color: #5C5C5C;
      color: #5C5C5C;
    }

    &-description {
      margin-bottom: 16px;
      font-family: $ffCirce, $ffDefault;
      font-size: 16px;
      font-weight: 400;
    }

    &-items {
      display: flex;
      margin-bottom: 16px;
      width: calc(100% + 48px);
      transform: translateX(-24px);
      padding: 0 24px;

      .swiper-wrapper {
        width: 150px;
        flex: 1 1 auto;
      }

      .swiper-slide {
        width: 88px;
        height: 88px;
      }
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-btns {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    &-btn {
      display: flex;
      align-items: center;
      color: $primary;
      font-size: 18px;
      font-weight: 400;
      font-family: $ffCirce, $ffDefault;

      &--more {
        display: none;
      }

      svg {
        width: 32px;
        height: 29px;
        fill: $primary;
      }

      &:nth-child(1) {
        svg {
          margin-left: 14px;
          width: 16px;
          height: 16px;
          fill: $primary;
        }
      }

    }
  }

  @media screen and (max-width: $mobile) {
    &__card {
      &-items {
        .array-slider {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: $mediumMobile) {
    &__cards {
      row-gap: 16px;
    }

    &__card {
      padding: 12px;

      .order-status {
        font-size: 12px;
      }

      &-header {
        gap: 8px;
      }

      &-items {
        width: calc(100% + 24px);
        transform: translateX(-12px);
        padding: 0 12px;

        .swiper-slide {
          width: 70px;
          height: 70px;
        }
      }

      &-title {
        font-size: 16px;
      }

      &-text {
        font-size: 12px;
      }

      &-btn {
        display: none;
        font-size: 14px;

        &--more {
          display: block;
        }
      }

      &-description {
        font-size: 12px;
      }
    }
  }
}