mixin catalog
    .catalog
        .container
            .header-title
                h2 Приятные скидки
                a(href='##').header-title__show
                    .header-title__show-text Показать все
                    svg
                        use(xlink:href="/assets/icons/sprite.svg#arrowRight")
            .catalog__items
                .card
                    .card__up
                        .card__up-case
                            .card__up-case-icons
                                .badge
                                    .badge__item.badge__item--sale -9%
                                    .badge__item.badge__item--hit Хит
                                    .badge__item.badge__item--new Новинка
                                button(type="button").card__up-case-icons-like
                                    svg
                                        use(xlink:href="/assets/icons/sprite.svg#heart")
                            .card__up-case-img
                                img(src="/assets/images/card_img.png" alt="Card")
                            .card__up-case-info
                                .card__up-case-info-text 1,0 кг
                                .card__up-case-info-value В наличии: 14
                            .card__up-case-text Кефир выселковский массовой долей жира 1%,пакет 0,9кг Агрокомплекс
                    .card__down
                        .card__down-prices
                            .card__down-price-old 169.99 ₽
                            .card__down-price-new 134.99 ₽/кг
                        .animation-btn
                            .change-basket
                                button(type="button").btn.btn--green.card__down-btn
                                .counter
                                    button(type="button").btn.btn--green.counter__btn.counter__btn--minus
                                    .counter__info
                                        .counter__info-value 100 кг
                                        .counter__info-description 13499.00 ₽
                                    button(type="button").btn.btn--green.counter__btn.counter__btn--plus
                .card
                    .card__up
                        .card__up-case
                            .card__up-case-icons
                                .badge
                                    .badge__item.badge__item--sale -9%
                                    .badge__item.badge__item--hit Хит
                                    .badge__item.badge__item--new Новинка
                                button(type="button").card__up-case-icons-like
                                    svg
                                        use(xlink:href="/assets/icons/sprite.svg#heart")
                            .card__up-case-img
                                img(src="/assets/images/card_img.png" alt="Card")
                            .card__up-case-info
                                .card__up-case-info-text 1,0 кг
                                .card__up-case-info-value В наличии: 14
                            .card__up-case-text Кефир выселковский массовой долей жира 1%,пакет 0,9кг Агрокомплекс
                    .card__down
                        .card__down-prices
                            .card__down-price-old 169.99 ₽
                            .card__down-price-new 134.99 ₽/кг
                        .animation-btn
                            .change-basket
                                button(type="button").btn.btn--green.card__down-btn
                                .counter
                                    button(type="button").btn.btn--green.counter__btn.counter__btn--minus
                                    .counter__info
                                        .counter__info-value 100 кг
                                        .counter__info-description 13499.00 ₽
                                    button(type="button").btn.btn--green.counter__btn.counter__btn--plus
                .card
                    .card__up
                        .card__up-case
                            .card__up-case-icons
                                .badge
                                    .badge__item.badge__item--sale -9%
                                    .badge__item.badge__item--hit Хит
                                    .badge__item.badge__item--new Новинка
                                button(type="button").card__up-case-icons-like
                                    svg
                                        use(xlink:href="/assets/icons/sprite.svg#heart")
                            .card__up-case-img
                                img(src="/assets/images/card_img.png" alt="Card")
                            .card__up-case-info
                                .card__up-case-info-text 1,0 кг
                                .card__up-case-info-value В наличии: 14
                            .card__up-case-text Кефир выселковский массовой долей жира 1%,пакет 0,9кг Агрокомплекс
                    .card__down
                        .card__down-prices
                            .card__down-price-old 169.99 ₽
                            .card__down-price-new 134.99 ₽/кг
                        .animation-btn
                            .change-basket
                                button(type="button").btn.btn--green.card__down-btn
                                .counter
                                    button(type="button").btn.btn--green.counter__btn.counter__btn--minus
                                    .counter__info
                                        .counter__info-value 100 кг
                                        .counter__info-description 13499.00 ₽
                                    button(type="button").btn.btn--green.counter__btn.counter__btn--plus
                .card
                    .card__up
                        .card__up-case
                            .card__up-case-icons
                                .badge
                                    .badge__item.badge__item--sale -9%
                                    .badge__item.badge__item--hit Хит
                                    .badge__item.badge__item--new Новинка
                                button(type="button").card__up-case-icons-like
                                    svg
                                        use(xlink:href="/assets/icons/sprite.svg#heart")
                            .card__up-case-img
                                img(src="/assets/images/card_img.png" alt="Card")
                            .card__up-case-info
                                .card__up-case-info-text 1,0 кг
                                .card__up-case-info-value В наличии: 14
                            .card__up-case-text Кефир выселковский массовой долей жира 1%,пакет 0,9кг Агрокомплекс
                    .card__down
                        .card__down-prices
                            .card__down-price-old 169.99 ₽
                            .card__down-price-new 134.99 ₽/кг
                        .animation-btn
                            .change-basket
                                button(type="button").btn.btn--green.card__down-btn
                                .counter
                                    button(type="button").btn.btn--green.counter__btn.counter__btn--minus
                                    .counter__info
                                        .counter__info-value 100 кг
                                        .counter__info-description 13499.00 ₽
                                    button(type="button").btn.btn--green.counter__btn.counter__btn--plus
                .card
                    .card__up
                        .card__up-case
                            .card__up-case-icons
                                .badge
                                    .badge__item.badge__item--sale -9%
                                    .badge__item.badge__item--hit Хит
                                    .badge__item.badge__item--new Новинка
                                button(type="button").card__up-case-icons-like
                                    svg
                                        use(xlink:href="/assets/icons/sprite.svg#heart")
                            .card__up-case-img
                                img(src="/assets/images/card_img.png" alt="Card")
                            .card__up-case-info
                                .card__up-case-info-text 1,0 кг
                                .card__up-case-info-value В наличии: 14
                            .card__up-case-text Кефир выселковский массовой долей жира 1%,пакет 0,9кг Агрокомплекс
                    .card__down
                        .card__down-prices
                            .card__down-price-old 169.99 ₽
                            .card__down-price-new 134.99 ₽/кг
                        .animation-btn
                            .change-basket
                                button(type="button").btn.btn--green.card__down-btn
                                .counter
                                    button(type="button").btn.btn--green.counter__btn.counter__btn--minus
                                    .counter__info
                                        .counter__info-value 100 кг
                                        .counter__info-description 13499.00 ₽
                                    button(type="button").btn.btn--green.counter__btn.counter__btn--plus
            button(type="button").catalog__items-btn.btn.btn--gray-light Показать еще