mixin deliveryCity
    .delivery-city
        .container
            .delivery-city__container
                .delivery-city__left
                    .h2 Доставляем #[span в 12-ти] городах юга России
                    .delivery-city__items
                        .delivery-city__item Адлер
                        .delivery-city__item Анапа
                        .delivery-city__item Выселки
                        .delivery-city__item Геленджик
                        .delivery-city__item Новороссийск
                        .delivery-city__item Пятигорск
                        .delivery-city__item Краснодар
                        .delivery-city__item Майкоп
                        .delivery-city__item Ростов-на-Дону
                        .delivery-city__item Сочи
                        .delivery-city__item Ставрополь
                        .delivery-city__item Шахты
                    a(href="##").btn.btn--green.btn--green-white
                        .btn__container
                            span Подробнее
                            span.btn__arrow
                                svg
                                    use(xlink:href="/assets/icons/sprite.svg#arrowRight")
                    //- .btn.btn--green.btn--green-white.delivery-city__btn Подробнее
                .delivery-city__right
                    img(src="/assets/images/MapDecor.svg" alt="mapDecor")
                    //- svg
                    //-     use(xlink:href="/assets/icons/sprite.svg#map")

