mixin generosity
    .generosity 
        .container
            .generosity__container
                .generosity__left
                    .h1 Щедрость #[span Юга] в каждый дом
                    p.mb-12 Юг — наша главная ценность. Уникальный многолетний опыт работы с южной землей под щедрым кубанским солнцем позволяет нам передать его преимущества своим продуктам.
                    p  «Агрокомплекс» постоянно работает над новыми линейками продуктов, улучшаются составы в стремлении сделать их чистыми и простыми, используется по максимуму то, что выращено собственными силами, чему мы точно можем доверять.
                    button(type='button').generosity__btn
                        span Подробнее
                        svg
                            use(xlink:href="/assets/icons/sprite.svg#arrowDown")
                .generosity__right