mixin loyalty
    .loyalty 
        .container
            .loyalty__container
                .loyalty__left
                    h2 Зарегистрируйтесь в программе лояльности
                    ul.loyalty__items
                        li.loyalty__item
                            .loyalty__item-img
                                svg
                                    use(xlink:href="/assets/icons/sprite.svg#wallet")
                            .loyalty__item-text Накапливайте бонусы и оплачивайте ими до 30% стоимости покупок
                        li.loyalty__item
                            .loyalty__item-img
                                svg
                                    use(xlink:href="/assets/icons/sprite.svg#gift")
                            .loyalty__item-text Получайте промо-коды, подарки и специальные предложения
                        li.loyalty__item
                            .loyalty__item-img
                                svg
                                    use(xlink:href="/assets/icons/sprite.svg#percent")
                            .loyalty__item-text Больше скидок для участников бонусной программы
                    .btn.btn--green.btn--green-white Зарегистрироваться
                .loyalty__right
                    img(src="/assets/images/loyalty__img.png" alt="Loyalty")