
mixin mainSliders
    .main-sliders
        .container
            .main-slider.swiper
                .swiper-wrapper
                    .swiper-slide
                        img(src="/assets/images/main-slider__bg.png" alt="BG").main-slider__bg
                        img(src="/assets/images/main-slider__bg-table.png" alt="BG").main-slider__bg.main-slider__bg--table
                        .main-slider__info
                            .main-slider__title НИКОЛАЕВСКИЕ СЫРОВАРНИ
                            .main-slider__text Выдержаные сыры с ярким характером
                            a(href="##").main-slider__btn.btn.btn--white
                                .btn__container
                                    span Подробнее
                                    span.main-slider__btn-arrow.btn__arrow
                                        svg
                                            use(xlink:href="/assets/icons/sprite.svg#arrowRight")
                    .swiper-slide
                        img(src="/assets/images/main-slider__bg.png" alt="BG").main-slider__bg
                        img(src="/assets/images/main-slider__bg-table.png" alt="BG").main-slider__bg.main-slider__bg--table
                        .main-slider__info
                            .main-slider__title НИКОЛАЕВСКИЕ СЫРОВАРНИ
                            .main-slider__text Выдержаные сыры с ярким характером
                            a(href="##").main-slider__btn.btn.btn--white
                                .btn__container
                                    span Подробнее
                                    span.main-slider__btn-arrow.btn__arrow
                                        svg
                                            use(xlink:href="/assets/icons/sprite.svg#arrowRight")
                    .swiper-slide
                        img(src="/assets/images/main-slider__bg.png" alt="BG").main-slider__bg
                        img(src="/assets/images/main-slider__bg-table.png" alt="BG").main-slider__bg.main-slider__bg--table
                        .main-slider__info
                            .main-slider__title НИКОЛАЕВСКИЕ СЫРОВАРНИ
                            .main-slider__text Выдержаные сыры с ярким характером
                            a(href="##").main-slider__btn.btn.btn--white
                                .btn__container
                                    span Подробнее
                                    span.main-slider__btn-arrow.btn__arrow
                                        svg
                                            use(xlink:href="/assets/icons/sprite.svg#arrowRight")
                    .swiper-slide
                        img(src="/assets/images/main-slider__bg.png" alt="BG").main-slider__bg
                        img(src="/assets/images/main-slider__bg-table.png" alt="BG").main-slider__bg.main-slider__bg--table
                        .main-slider__info
                            .main-slider__title НИКОЛАЕВСКИЕ СЫРОВАРНИ
                            .main-slider__text Выдержаные сыры с ярким характером
                            a(href="##").main-slider__btn.btn.btn--white
                                .btn__container
                                    span Подробнее
                                    span.main-slider__btn-arrow.btn__arrow
                                        svg
                                            use(xlink:href="/assets/icons/sprite.svg#arrowRight")
                    .swiper-slide
                        img(src="/assets/images/main-slider__bg.png" alt="BG").main-slider__bg
                        img(src="/assets/images/main-slider__bg-table.png" alt="BG").main-slider__bg.main-slider__bg--table
                        .main-slider__info
                            .main-slider__title НИКОЛАЕВСКИЕ СЫРОВАРНИ
                            .main-slider__text Выдержаные сыры с ярким характером
                            a(href="##").main-slider__btn.btn.btn--white
                                .btn__container
                                    span Подробнее
                                    span.main-slider__btn-arrow.btn__arrow
                                        svg
                                            use(xlink:href="/assets/icons/sprite.svg#arrowRight")
                .swiper-pagination.main-slider-pagination
                button(type="button").array-slider.array-slider--prev.main-slider-prev
                    svg
                        use(xlink:href="/assets/icons/sprite.svg#arrowSlider")
                button(type="button").array-slider.array-slider--next.main-slider-next
                    svg
                        use(xlink:href="/assets/icons/sprite.svg#arrowSlider")
            .catalog-slider
                .swiper-wrapper
                    a(href='##').swiper-slide
                        .catalog-slider__img
                            img(src="/assets/images/shake.svg" alt="")
                        .catalog-slider__text Напитки
                    a(href="##").swiper-slide
                        .catalog-slider__img
                            img(src="/assets/images/meat.svg" alt="")
                        .catalog-slider__text Мясо, птица
                    a(href="##").swiper-slide
                        .catalog-slider__img
                            img(src="/assets/images/broccoli.svg" alt="")
                        .catalog-slider__text Фрукты и овощи
                    a(href="##").swiper-slide
                        .catalog-slider__img
                            img(src="/assets/images/chees.svg" alt="")
                        .catalog-slider__text Молоко и сыры
                    a(href="##").swiper-slide
                        .catalog-slider__img
                            img(src="/assets/images/chees.svg" alt="")
                        .catalog-slider__text Молоко и сыры
                    a(href="##").swiper-slide
                        .catalog-slider__img
                            img(src="/assets/images/chees.svg" alt="")
                        .catalog-slider__text Молоко и сыры
                    a(href="##").swiper-slide
                        .catalog-slider__img
                            img(src="/assets/images/chees.svg" alt="")
                        .catalog-slider__text Молоко и сыры
                    a(href="##").swiper-slide
                        .catalog-slider__img
                            img(src="/assets/images/chees.svg" alt="")
                        .catalog-slider__text Молоко и сыры
                    a(href="##").swiper-slide
                        .catalog-slider__img
                            img(src="/assets/images/chees.svg" alt="")
                        .catalog-slider__text Молоко и сыры
                    a(href="##").swiper-slide
                        .catalog-slider__img
                            img(src="/assets/images/chees.svg" alt="")
                        .catalog-slider__text Молоко и сыры
                    a(href="##").swiper-slide
                        .catalog-slider__img
                            img(src="/assets/images/chees.svg" alt="")
                        .catalog-slider__text Молоко и сыры
                    a(href="##").swiper-slide
                        .catalog-slider__img
                            img(src="/assets/images/chees.svg" alt="")
                        .catalog-slider__text Молоко и сыры
                    a(href="##").swiper-slide
                        .catalog-slider__img
                            img(src="/assets/images/chees.svg" alt="")
                        .catalog-slider__text Молоко и сыры
                    a(href="##").swiper-slide
                        .catalog-slider__img
                            img(src="/assets/images/chees.svg" alt="")
                        .catalog-slider__text Молоко и сыры
                button(type="button").catalog-slider__array-prev.array-slider.array-slider--prev.array-slider--white
                    svg
                        use(xlink:href="/assets/icons/sprite.svg#arrowSlider")
                button(type="button").catalog-slider__array-next.array-slider.array-slider--next.array-slider--white
                    svg
                        use(xlink:href="/assets/icons/sprite.svg#arrowSlider")
