mixin menuMobile
    .menu-mobile
        .menu-mobile__items
            a(href="#").menu-mobile__item.menu-mobile__item--active
                svg
                    use(xlink:href="/assets/icons/sprite.svg#home")
                .menu-mobile__text Главная
            a(href="#").menu-mobile__item
                svg
                    use(xlink:href="/assets/icons/sprite.svg#category")
                .menu-mobile__text Главная
            a(href="#").menu-mobile__item
                svg
                    use(xlink:href="/assets/icons/sprite.svg#cart")
                .menu-mobile__text Главная
            a(href="#").menu-mobile__item
                svg
                    use(xlink:href="/assets/icons/sprite.svg#heart")
                .menu-mobile__text Главная
            a(href="#").menu-mobile__item
                svg
                    use(xlink:href="/assets/icons/sprite.svg#user")
                .menu-mobile__text Главная