mixin news
    .news
        .container
            .header-title
                h2 Новости
                a(href='##').header-title__show
                    .header-title__show-text Показать все
                    svg
                        use(xlink:href="/assets/icons/sprite.svg#arrowRight")
            .cards-swiper__container
                button(type="button").js-cards-swiper-next.array-slider.array-slider--white.array-slider--next
                    svg
                        use(xlink:href="/assets/icons/sprite.svg#arrowSlider")
                button(type="button").js-cards-swiper-prev.array-slider.array-slider--white.array-slider--prev
                    svg
                        use(xlink:href="/assets/icons/sprite.svg#arrowSlider")
                .js-cards-swiper.swiper
                    .swiper-wrapper
                        .swiper-slide
                            .card-info
                                .card-info__up
                                    .card-info__img
                                        img(src="/assets/images/news__img-1.png" alt="News")
                                    .card-info__text.card-info__text--space-between 
                                        span 12 января 2023
                                        span 
                                            svg
                                                use(xlink:href="/assets/icons/sprite.svg#eye")
                                            span 101
                                .card-info__down
                                    .card-info__description «Агрокомплекс Выселковский» предлагает новые премиальные колбасы.«Агрокомплекс Выселковский» предлагает новые премиальные колбасы.
                        .swiper-slide
                            .card-info
                                .card-info__up
                                    .card-info__img
                                        img(src="/assets/images/news__img-1.png" alt="News")
                                    .card-info__text.card-info__text--space-between 
                                        span 12 января 2023
                                        span 
                                            svg
                                                use(xlink:href="/assets/icons/sprite.svg#eye")
                                            span 101
                                .card-info__down
                                    .card-info__description «Агрокомплекс Выселковский» предлагает новые премиальные колбасы.«Агрокомплекс Выселковский» предлагает новые премиальные колбасы.
                        .swiper-slide
                            .card-info
                                .card-info__up
                                    .card-info__img
                                        img(src="/assets/images/news__img-1.png" alt="News")
                                    .card-info__text.card-info__text--space-between 
                                        span 12 января 2023
                                        span 
                                            svg
                                                use(xlink:href="/assets/icons/sprite.svg#eye")
                                            span 101
                                .card-info__down
                                    .card-info__description «Агрокомплекс Выселковский» предлагает новые премиальные колбасы.«Агрокомплекс Выселковский» предлагает новые премиальные колбасы.
                        .swiper-slide
                            .card-info
                                .card-info__up
                                    .card-info__img
                                        img(src="/assets/images/news__img-1.png" alt="News")
                                    .card-info__text.card-info__text--space-between 
                                        span 12 января 2023
                                        span 
                                            svg
                                                use(xlink:href="/assets/icons/sprite.svg#eye")
                                            span 101
                                .card-info__down
                                    .card-info__description «Агрокомплекс Выселковский» предлагает новые премиальные колбасы.«Агрокомплекс Выселковский» предлагает новые премиальные колбасы.
                        .swiper-slide
                            .card-info
                                .card-info__up
                                    .card-info__img
                                        img(src="/assets/images/news__img-1.png" alt="News")
                                    .card-info__text.card-info__text--space-between 
                                        span 12 января 2023
                                        span 
                                            svg
                                                use(xlink:href="/assets/icons/sprite.svg#eye")
                                            span 101
                                .card-info__down
                                    .card-info__description «Агрокомплекс Выселковский» предлагает новые премиальные колбасы.«Агрокомплекс Выселковский» предлагает новые премиальные колбасы.
                        .swiper-slide
                            .card-info
                                .card-info__up
                                    .card-info__img
                                        img(src="/assets/images/news__img-1.png" alt="News")
                                    .card-info__text.card-info__text--space-between 
                                        span 12 января 2023
                                        span 
                                            svg
                                                use(xlink:href="/assets/icons/sprite.svg#eye")
                                            span 101
                                .card-info__down
                                    .card-info__description «Агрокомплекс Выселковский» предлагает новые премиальные колбасы.«Агрокомплекс Выселковский» предлагает новые премиальные колбасы.
                        .swiper-slide
                            .card-info
                                .card-info__up
                                    .card-info__img
                                        img(src="/assets/images/news__img-1.png" alt="News")
                                    .card-info__text.card-info__text--space-between 
                                        span 12 января 2023
                                        span 
                                            svg
                                                use(xlink:href="/assets/icons/sprite.svg#eye")
                                            span 101
                                .card-info__down
                                    .card-info__description «Агрокомплекс Выселковский» предлагает новые премиальные колбасы.«Агрокомплекс Выселковский» предлагает новые премиальные колбасы.