mixin recipes
    .recipes
        .container
            .recipes__container 
                .recipes__left
                    h2 Рецепты
                    .recipes__items
                        a(href="##").recipes__item Просто и быстро
                        a(href="##").recipes__item Обеды
                        a(href="##").recipes__item На мангале
                        a(href="##").recipes__item Перекус
                        a(href="##").recipes__item Детское меню
                        a(href="##").recipes__item К празднику
                        a(href="##").recipes__item Ужины
                    .recipes__description Составлено  с любовью! Натуральные продукты. Наша Ферма созданы в гармонии с природой. Овощи, яблоки и арбузы спеют под солнцем Краснодарского края, медовые финики едут из Израиля, а козий сыр нам делают фермеры в Смоленской области.
                    .recipes__right.recipes__right--mobile
                        .card-info
                            .card-info__up
                                .card-info__img
                                    img(src="/assets/images/news__img-1.png" alt="News")
                                .card-info__text 
                                    span 
                                        svg
                                            use(xlink:href="/assets/icons/sprite.svg#timer")
                                        span 40 минут
                                    span 
                                        svg
                                            use(xlink:href="/assets/icons/sprite.svg#food")
                                        span 3-4 порции
                            .card-info__down
                                .card-info__description Сочные рёбрышки на мангале с фирменным соусом Сочные рёбрышки на мангале с фирменным соусом Сочные рёбрышки на мангале с фирменным соусом Сочные рёбрышки на мангале с фирменным соусом
                            //-     svg
                            //-         use(xlink:href="/assets/icons/sprite.svg#eye")
                            //-     span 101
                        .card-info
                            .card-info__up
                                .card-info__img
                                    img(src="/assets/images/news__img-1.png" alt="News")
                                .card-info__text 
                                    span 
                                        svg
                                            use(xlink:href="/assets/icons/sprite.svg#timer")
                                        span 40 минут
                                    span 
                                        svg
                                            use(xlink:href="/assets/icons/sprite.svg#food")
                                        span 3-4 порции
                            .card-info__down
                                .card-info__description Тыквенный суп со сливками, томленным циплёнком и свежей зеленью Тыквенный суп со сливками, томленным циплёнком и свежей зеленью Тыквенный суп со сливками, томленным циплёнком и свежей зеленью Тыквенный суп со сливками, томленным циплёнком и свежей зеленью
                            //-     svg
                            //-         use(xlink:href="/assets/icons/sprite.svg#eye")
                            //-     span 101
                    .btn.btn--green.btn--green-white Перейти к рецептам
                .recipes__right.recipes__right--desctop
                    .card-info
                        .card-info__up
                            .card-info__img
                                img(src="/assets/images/news__img-1.png" alt="News")
                            .card-info__text 
                                span 
                                    svg
                                        use(xlink:href="/assets/icons/sprite.svg#timer")
                                    span 40 минут
                                span 
                                    svg
                                        use(xlink:href="/assets/icons/sprite.svg#food")
                                    span 3-4 порции
                        .card-info__down
                            .card-info__description Сочные рёбрышки на мангале с фирменным соусом Сочные рёбрышки на мангале с фирменным соусом Сочные рёбрышки на мангале с фирменным соусом Сочные рёбрышки на мангале с фирменным соусом
                        //-     svg
                        //-         use(xlink:href="/assets/icons/sprite.svg#eye")
                        //-     span 101
                    .card-info
                        .card-info__up
                            .card-info__img
                                img(src="/assets/images/news__img-1.png" alt="News")
                            .card-info__text 
                                span 
                                    svg
                                        use(xlink:href="/assets/icons/sprite.svg#timer")
                                    span 40 минут
                                span 
                                    svg
                                        use(xlink:href="/assets/icons/sprite.svg#food")
                                    span 3-4 порции
                        .card-info__down
                            .card-info__description Тыквенный суп со сливками, томленным циплёнком и свежей зеленью Тыквенный суп со сливками, томленным циплёнком и свежей зеленью Тыквенный суп со сливками, томленным циплёнком и свежей зеленью Тыквенный суп со сливками, томленным циплёнком и свежей зеленью
                        //-     svg
                        //-         use(xlink:href="/assets/icons/sprite.svg#eye")
                        //-     span 101