mixin stock
    .stock
        .stock__left
            .stock__badge Акция
            .stock__title Сервелат из мраморной говядины
            .stock__text Цена по бонусной карте
        .stock__right
            img(src="/assets/images/stock__img-1.png", alt="")
        .stock__price
            .stock__price-container
                .stock__price-title 139
                .stock__price-case
                    .stock__price-text 90
                    .stock__price-description руб
                //- .stock__price-case
                //-     //- .stock__price-text 90
                //-     .stock__price-description.stock__price-description--symbol ₽
        .stock__decor