include layouts/modules/_m-head.pug
include layouts/components/header.pug
include layouts/components/footer.pug
include layouts/components/filter.pug


doctype html 
html(lang='ru')
    +m-head
    body
        +header
        .container
            .breadcrumb
                .breadcrumb__list
                    a(href="##").breadcrumb__item Главная
                    .breadcrumb__item О компании
                .breadcrumb__title
                    a(href="##").breadcrumb__back
            .page-title
                a(href="##").page-title__back
                    svg
                        use(xlink:href="/assets/icons/sprite.svg#arrowRight")
                h2 О компании
                //- .page-title__count 233 #[span товара]
        .container
            .h4.mb-20 «Агрокомплекс» сегодня — это один из крупнейших аграрно-промышленных холдингов в России
            .p.mb-32 Компания «Агрокомплекс» была создана в 1993 году путем объединения комбикормового завода и комплекса по откорму крупного рогатого скота. За 25 лет пройден огромный путь становления и развития. «Агрокомплекс» сегодня — это один из крупнейших аграрно-промышленных холдингов в России. Компания развивает все отрасли сельского хозяйства на высоком профессиональном уровне, стремясь завоевать все большую любовь покупателей к отечественной продукции. Вот уже более четверти века бренд «Агрокомплекс» ассоциируется с традиционным вкусом, натуральным содержание продукции и высоким качеством.
            .h4.mb-20 Миссия «Агрокомплекса»
            .p.mb-32 Успешно развиваясь, мы сохраняем традиции и работаем с любовью на кубанской земле. Сами выращиваем и производим только натуральные продукты. Продаем качественную и свежую продукцию жителям Кубани и России.
            .h4.mb-20 Щедрость Юга в каждый дом
            .p Юг — наша главная ценность. Уникальный многолетний опыт работы с южной землей под щедрым кубанским солнцем позволяет нам передать его преимущества своим продуктам. «Агрокомплекс» постоянно работает над новыми линейками продуктов, улучшаются составы в стремлении сделать их чистыми и простыми, используется по максимуму то, что выращено собственными силами, чему мы точно можем доверять. «Агрокомплекс» идет в ногу со временем и развивает и собственный интернет-магазин, фокусируясь на потребностях покупателей. Постоянное расширение ассортимента, работа с новыми поставщиками, использование проверенных технологий, доставка день в день позволяют интернет-магазину «Агрокомплекс» становиться всё более востребованным у жителей Кубани.
        +footer