include layouts/modules/_m-head.pug
include layouts/components/header.pug
include layouts/components/footer.pug
include layouts/components/filter.pug


doctype html 
html(lang='ru')
    +m-head
    body
        +header
        .container
            .breadcrumb
                .breadcrumb__list
                    a(href="##").breadcrumb__item Главная
                    a(href="##").breadcrumb__item Покупателю
                    .breadcrumb__item Помощь
                .breadcrumb__title
                    a(href="##").breadcrumb__back
            .page-title
                a(href="##").page-title__back
                    svg
                        use(xlink:href="/assets/icons/sprite.svg#arrowRight")
                h2 Помощь
                //- .page-title__count 233 #[span товара]
        .container
            .section
                .section__left
                    .link-section
                        //- .link-section__container
                        //-     .link-section__img
                        //-         img(src="/assets/images/milk-catalog.png", alt="Milk Catalog")
                        //-     .link-section__info
                        //-         .link-section__info-title Молоко, сыры, яйцо
                        //-         .link-section__info-value 154  товара
                        .link-section__list
                            a(href="##").link-section__item.link-section__item--active Помощь
                            a(href="##").link-section__item Документы
                            a(href="##").link-section__item Контакты
                .section__right
                    .mb-32
                        .h4.mb-20 Как оформить заказ
                        .p Оформить заказ на нашем сайте легко. Просто добавьте выбранные товары в корзину, а затем перейдите на страницу Корзина, проверьте правильность заказанных позиций и нажмите кнопку «Оформить заказ». Если вы уверены в выборе, то можете самостоятельно оформить заказ, заполнив по этапам всю форму.
                    .mb-32
                        .h4.mb-20 Заполнение адреса
                        .p Выберите адрес на карте или введите его вручную.
                    .mb-32
                        .h4.mb-20 Доставка
                        .p В зависимости от места жительства вам предложат варианты доставки. Выберите любой удобный способ. Для "плановой" доставки необходимо также выбрать желаемый интервал доставки. Подробнее об условиях доставки читайте в разделе «Доставка».
                    .mb-32
                        .h4.mb-20 Оплата
                        .p При оплате система предложит привязать к вашему профилю карту, с которой после комплектации заказа будет списана сумма вашей покупки. Сумма покупки может незначительно отличаться от суммы товаров в вашей корзины, так как часть товаров являются весовыми. Подробнее в разделе «Оплата»
                    .mb-32
                        .h4.mb-20 Покупатель
                        .p Введите данные о себе: ФИО, номер телефона. В поле «Комментарии к заказу» введите сведения, которые могут пригодиться курьеру, например: подъезды в доме считаются справа налево, код домофона или калитки.
                    div
                        .h4.mb-20 Оформление заказа
                        .p Проверьте правильность ввода информации: позиции заказа, выбор местоположения, данные о себе. Нажмите кнопку «Оформить заказ». Наш сервис запоминает данные о пользователе, информацию о заказе и в следующий раз предложит вам повторить к вводу данные предыдущего заказа. Если условия вам не подходят, выбирайте другие варианты.
        +footer