include layouts/modules/_m-head.pug
include layouts/components/header.pug
include layouts/components/footer.pug
include layouts/components/filter.pug


doctype html 
html(lang='ru')
    +m-head
    body
        +header
        .container
            .breadcrumb
                .breadcrumb__list
                    a(href="##").breadcrumb__item Главная
                    .breadcrumb__item Политика конфиденциальности
                .breadcrumb__title
                    a(href="##").breadcrumb__back
            .page-title
                a(href="##").page-title__back
                    svg
                        use(xlink:href="/assets/icons/sprite.svg#arrowRight")
                h2 Политика конфиденциальности
                //- .page-title__count 233 #[span товара]
        .personal-data
            .container
                .h4.mb-20 Раздел 1. Согласие на обработку персональных данных
                .p.mb-12 Настоящим я подтверждаю свое безусловное согласие на обработку любым способом моих вышеуказанных персональных данных АО фирма «Агрокомплекс» им. Н.И. Ткачева, ИНН 2328000083, юридический адрес: 353100, Краснодарский край ст. Выселки, ул. Степная, д. 1 (далее «Общество»), в том числе, но не ограничиваясь, на передачу аффилированным лицам, третьим лицам, с которыми Общество по собственному усмотрению заключает соответствующие договоры, для следующих целей:
                ul.personal-data__stages.mb-12 
                    li.personal-data__stage.p Получение информации для обработки заказов, осуществлении доставки заказанных/согласованных товаров, а также предоставления услуг по доставке.
                    li.personal-data__stage.p Сбор, обработка и анализ информации и проведение маркетинговых и других исследований
                    li.personal-data__stage.p Предоставление мне всей полной информации об услугах и мероприятиях, товарах, акциях, скидках с использованием любого канала связи.
                .p Я подтверждаю, что мое согласие на обработку персональных данных предоставляется бессрочно. Я уведомлен, что могу отозвать свое согласие полностью или только частично (в части получения информации об услугах, товарах, акциях и иных маркетинговых и рекламных мероприятий) путем направления в письменной форме уведомления Обществу заказным письмом.
                .p Я предоставляю свое согласие на получение рекламной рассылки по SMS от АО фирма «Агрокомплекс» им. Н.И. Ткачева по указанным выше контактным.
                .p.mb-20 Я предоставляю свое согласие на получение рекламной рассылки по email от АО фирма «Агрокомплекс» им. Н.И. Ткачева по указанным выше контактным.
                .h4.mb-20 Раздел 2. Политика использования cookie
                .p.mb-20 На нашем сайте и в мобильном приложении мы используем cookie файлы. Посещая и используя веб-сайт или приложение, пользователь признает, что согласен на использование файлов cookie и ознакомлен с политикой в отношении них.
                .h4.mb-20 Что такое cookie?
                .p.mb-20 Cookie – это небольшие файлы с данными, которые сохраняются на ваш компьютер, мобильное устройство веб-сервисом/браузером. Все Персональные данные, которые могут быть получены в связи с использование cookie обрабатываются в соответствии с нашей политикой обработки персональных данных.
                .h4.mb-20 Какие виды cookie используются?
                .p.mb-20 Agrokomplexshop использует несколько видов cookie:
                ul.personal-data__list.mb-20
                    li.personal-data__list.p - Постоянные. Такие файлы хранятся до окончания их срока действия или пока Вы их не удалите.
                    li.personal-data__list.p - Сессионные. Такой вид файлов хранится только на протяжении вашего сеанса в браузере и при закрытии удаляются.
                    li.personal-data__list.p - Сторонние. Такой вид файлов, которые принадлежат домену, отличающемуся от домена, указанного в адресной строке. Наиболее часто, такие cookie используются, когда веб-страница содержит контент с внешних веб-сайтов.
                .p.mb-20 Также принято выделять файлы cookie по их целевому назначению:
                ul.personal-data__list.mb-20
                    li.personal-data__list.p - Обязательные. Без таких cookie невозможна корректная работа сайта, они обязательны для использования всеми пользователями. Вы можете отключить их при помощи настроек своего браузера, при этом сайт или его компоненты будут работать некорректно.
                    li.personal-data__list.p - Функциональные. Такой вид cookie помогает в осуществлении навигации по сайту, а также позволяет использовать функционал веб-страницы.
                    li.personal-data__list.p - Рекламные. Данный вид cookie используется в первую очередь в маркетинговых целях, помогая нам предложить Вам лучшие персонализированные предложения.
                    li.personal-data__list.p - Аналитические. Такие cookie файлы используются для сбора статистических сведений о работе с сайтом. Например, анализируют количество пользователей.
                .h4.mb-20 Для чего используются файлы cookie?
                .p Agrokomplexshop использует файлы cookie для оптимизации вашей работы с сайтом. Они позволяют запомнить сделанный Вами выбор (например, выбор города, в котором вы находитесь), предоставить вам лучшее онлайн-предложение.
                .p.mb-20 Обращаем ваше внимание на то, что файлы cookie не несут угрозы безопасности вашим данным.
                .h4.mb-20 Могу ли я управлять cookie и удалять их?
                .p Да, вы можете управлять и контролировать ваши файлы cookie. При этом обращаем ваше внимание на то, что в случае отказа от cookie все персонализированные настройки будут сброшены.
                .p.mb-20 Наиболее простой и оптимальный способ – использования настроек браузера.
                .p Данная Политика cookie может обновляться с течением времени — например, в случаях изменений применимого законодательства или применяемых online-технологий. Agrokomplexshop рекомендует клиентам регулярно проверять веб-сайт на наличие актуальной информации об использовании cookie.
        +footer