include layouts/modules/_m-head.pug
include layouts/components/header.pug
include layouts/components/footer.pug
include layouts/components/filter.pug

doctype html 
html(lang='ru')
    +m-head
    body
        +header
        .container
            .breadcrumb
                .breadcrumb__list
                    a(href="##").breadcrumb__item Главная
                    .breadcrumb__item Программа лояльности
                .breadcrumb__title
                    a(href="##").breadcrumb__back
            .page-title
                a(href="##").page-title__back
                    svg
                        use(xlink:href="/assets/icons/sprite.svg#arrowRight")
                h2 Программа лояльности
                //- .page-title__count 233 #[span товара]
        .container
            .section.mb-32
                .section__left
                    .link-section
                        //- .link-section__container
                        //-     .link-section__img
                        //-         img(src="/assets/images/milk-catalog.png" alt="Milk Catalog")
                        //-     .link-section__info
                        //-         .link-section__info-title Молоко, сыры, яйцо
                        //-         .link-section__info-value 154  товара
                        .link-section__list
                            a(href="##").link-section__item Преимущества
                            a(href="##").link-section__item Накопление и списание
                            a(href="##").link-section__item Частые вопросы 
                            a(href="##").link-section__item.link-section__item--active Правила использования
                .section__right
                    .h4.mb-20 1. Термины и определения
                    .p-bold 1.1 #[span.p Программа лояльности «Агрокомплекс» (далее - «Программа») - совокупность мероприятий, направленных на предоставление Организатором Участникам более выгодных условий приобретения товаров, услуг.]
                    .p-bold 1.2 #[span.p Организатор Программы — АО фирма «Агрокомплекс» им Н.И. Ткачева.]
                    .p-bold 1.3 #[span.p Участник программы — физическое лицо, достигшее 18-летнего возраста, является клиентом сети магазинов АО фирма «Агрокомплекс» им. Н.И. Ткачева, заполнивший анкету и согласившейся с настоящими правилами.]
                    .p-bold 1.4 #[span.p Анкета покупателя — согласие Участника на правила Программы по форме, определенной АО фирма «Агрокомплекс» им. Н.И. Ткачева.]
                    .p-bold 1.5 #[span.p Карта Агрокомплекс является собственностью Организатора и предоставляется Участнику в пользование на период его участия в Программе.]
                    .p-bold.mb-32 1.6 #[span.p Горячая линия Программы - телефонная линия поддержки участников Программы #[a(href='tel:88002500690') 8 800 250 06 90].]
                    .h4.mb-20 2. Общие условия
                    .p-bold 2.1 #[span.p В целях информирования Участников о рекламных и стимулирующих акциях Организатор с согласия Участника может осуществлять СМС рассылку, e-mail рассылку или использовать любой иной способ донесения информации до Участника. Для получения согласия на подобную рассылку Участник заполняет анкету достоверными сведениями, дав свое согласие Организатору на обработку персональных данных. Организатор по своему усмотрению вправе определять и изменять размер платы за оформление карты, а также устанавливать дополнительные условия оформления карт. Одна карта Агрокомплекс может быть оформлена только на одного Участника.]
                    .p-bold 2.2 #[span.p Получая и используя карту Агрокомплекс, Участник дает свое согласие с Условиями и всеми изменениями, вносимыми в них Организатором в любой момент времени без предварительного уведомления Организатором. Вся информация об изменениях публикуется на сайте www.zao-agrokomplex.ru.]
                    .p-bold 2.3 #[span.p В случае порчи или утраты Карты Агрокомплекс Участник может приобрести новую карту и обратиться к Организатору по телефону горячий линии с просьбой перенести информацию с предыдущей карты, при условии внесения в анкету достоверных данных и наличии согласия на обработку персональных данных. Старая карта блокируется. АО фирма «Агрокомплекс» им. Н.И. Ткачева не несет ответственности за использование третьими лицами Карты Агрокомплекс до ее блокировки.]
                    .p-bold 2.4 #[span.p Правила программы лояльности ограничивают количество чеков в день не более трех по всем картам покупателя, зарегистрированными на один номер.]
                    .p-bold 2.5 #[span.p АО фирма «Агрокомплекс» им. Н.И. Ткачева имеет право заблокировать, изъять или прекратить участие в Программе любого Участника без уведомления в любом из следующих случаев:]
                    ul.rules__list
                        li.rules__item.p Участник не соблюдает условия акций и иных предложений Программы лояльности «Агрокомплекс», где обязательным условием участия является использование Карты Агрокомплекс;
                        li.rules__item.p Участник совершил или намеревается совершить действия, которые могут быть расценены Организатором как мошеннические или противоправные действия, которые повлекли или могут повлечь неблагоприятные последствия как для Организатора, так и для самого Участника или иных Участников, а также любого третьего лица;
                        li.rules__item.p Участник злоупотребляет правами, предоставляемыми в рамках Программы;
                        li.rules__item.p Участник при заполнении Анкеты покупателя предоставляет недостоверную информацию;
                        li.rules__item.p в случае предъявления требований государственных органов;
                        li.rules__item.p в случае отзыва со стороны Участника согласия на обработку Организатором персональных данных;
                        li.rules__item.p в случае отсутствия подписи участника в Анкете покупателя (в бумажной форме) или иного подтверждающего элемента, которое может быть принято как отказ от участия в программе
                    .p-bold.mb-32 2.6 #[span.p Отказаться от рассылок можно, позвонив по телефону горячей линии #[a(href='tel:88002500690') 8 800 250 06 90].]
                    .p-bold 2.7 #[span.p Уплата налогов и исполнение обязательств, связанных с участием Участника в Программе, являются обязанностью Участника.]
                    .p-bold.mb-32 2.8 #[span.p Организатор имеет право в любой момент времени вносить любые изменения в перечень товаров, услуг, акций, изменять размер скидок без предварительного уведомления Участника.]
                    .h4.mb-20 3. Правила предоставления скидки и использования бонусных баллов
                    .p-bold 3.1 #[span.p Для получения выгодных условий приобретения товаров, Участник должен предъявлять зарегистрированную карту Агрокомплекс до совершения оплаты. Скидки и бонусы предоставляются при любом способе оплаты (наличными или безналичными платежами, бонусными баллами и прочее).]
                    .p-bold 3.2 #[span.p Скидки и акции не суммируются друг с другом. При наличии двух и более скидок на один и тот же товар применяется наибольшая.]
                    .p-bold 3.3 #[span.p Скидки и бонусные баллы на алкогольную и табачные изделия не предоставляются.]
                    .p-bold 3.4 #[span.p Документом, подтверждающим обязанность Организатора предоставить выгодные условия Участнику, является кассовый чек на бумажном носителе с указанием номера Карты Агрокомплекс.]
                    .p-bold 3.5 #[span.p Претензии по факту предоставления/непредставления скидки рассматриваются Организатором только при предъявлении Участником документов, подтверждающих персональные данные такого Участника в соответствующей Анкете.]
                    .p-bold 3.6 #[span.p Начисление бонусных баллов осуществляется на все чеки с суммой выше 20 рублей.]
                    .p-bold 3.7 #[span.p Условия начисления бонусных баллов]
                    .p-bold 3.8 #[span.p При сумме чека до 500 рублей, осуществляется начисление 1 балла за каждые 20 рублей в чеке, начисление округляется в меньшую сторону.- При сумме чека от 500 до 599 рублей 99 копеек, осуществляется начисление 1 балла за каждые 18 рублей в чеке.- При сумме чека от 600 до 799 рублей 99 копеек, осуществляется начисление 1 балла за каждые 17 рублей в чеке.- При сумме чека от 800 до 999 рублей 99 копеек, осуществляется начисление 1 балла за каждые 16 рублей в чеке.- При сумме чека от 1000 рублей, осуществляется начисление 1 балла за каждые 15 рублей в чеке.]
                    .p-bold 3.9 #[span.p Срок действия бонусных баллов – 6 месяцев, неиспользованные баллы сгорают.]
                    .p-bold 3.10 #[span.p Баллами можно оплатить до 30% суммы чека в соотношении 10 баллов = 1 рубль.]
                    .p-bold.mb-32 3.11 #[span.p Баллы начисляемые по специальным предложениям могут иметь отличный срок действия от баллов начисляемых за сумму чека.]
                    .h4.mb-20 4. Ограничение ответственности Организатора
                    .p-bold 4.1 #[span.p Участник самостоятельно несет ответственность за достоверность и актуальность информации, предоставленной им в Анкете покупателя.]
                    .p-bold.mb-32 4.2 #[span.p Организатор не несет ответственность за любые убытки, причиненные Участнику в результате использования учетной информации Участника, ставшей доступной третьим лицам не по вине Организатора.]
                    .h4.mb-20 5. Прекращение программы
                    .p-bold.mb-32 5.1 #[span.p  Организатор оставляет за собой право в любое время приостановить, изменить или отменить Программу лояльности Агрокомплекс с размещением соответствующей информации на сайте www.zao-agrokomplex.ru, что не влечет какой-либо ответственности Организатора.]
                    .h4.mb-20 6. Прочие условия
                    .p-bold 6.1 #[span.p Участник вправе в любое время прекратить дальнейшее участие в Программе, письменно уведомив об этом Организатора.]
                    .p-bold 6.2 #[span.p В случае прекращения участия Участника в Программе по любому основанию, предусмотренному настоящими Правилами, Участник утрачивает право на получение скидок, предусмотренных Программой, и обязуется вернуть карту Организатору.]
                    .p-bold.mb-32 6.3 #[span.p Настоящие Правила действуют до момента их отмены Организатором.]
        .cards-swiper
            .container
                .h2 Наши акции
                .cards-swiper__container
                    button(type="button").js-cards-swiper-next.array-slider.array-slider--white.array-slider--next
                        svg
                            use(xlink:href="/assets/icons/sprite.svg#arrowSlider")
                    button(type="button").js-cards-swiper-prev.array-slider.array-slider--white.array-slider--prev
                        svg
                            use(xlink:href="/assets/icons/sprite.svg#arrowSlider")
                    .js-cards-swiper.swiper
                        .swiper-wrapper
                            .swiper-slide.sale-card
                                .sale-card__time
                                    svg
                                        use(xlink:href="/assets/icons/sprite.svg#clock")
                                    span 18 д : 18 ч : 18 м
                                a(href="##").sale-card__container
                                    img(src="/assets/images/sale.png" alt="Sal")
                            .swiper-slide.sale-card
                                .sale-card__time
                                    svg
                                        use(xlink:href="/assets/icons/sprite.svg#clock")
                                    span 18 д : 18 ч : 18 м
                                a(href="##").sale-card__container
                                    img(src="/assets/images/sale.png" alt="Sal")
                            .swiper-slide.sale-card
                                .sale-card__time
                                    svg
                                        use(xlink:href="/assets/icons/sprite.svg#clock")
                                    span 18 д : 18 ч : 18 м
                                a(href="##").sale-card__container
                                    img(src="/assets/images/sale.png" alt="Sal")
                            .swiper-slide.sale-card
                                .sale-card__time
                                    svg
                                        use(xlink:href="/assets/icons/sprite.svg#clock")
                                    span 18 д : 18 ч : 18 м
                                a(href="##").sale-card__container
                                    img(src="/assets/images/sale.png" alt="Sal")
                            .swiper-slide.sale-card
                                .sale-card__time
                                    svg
                                        use(xlink:href="/assets/icons/sprite.svg#clock")
                                    span 18 д : 18 ч : 18 м
                                a(href="##").sale-card__container
                                    img(src="/assets/images/sale.png" alt="Sal")
        +footer