include layouts/modules/_m-head.pug
include layouts/components/header.pug
include layouts/components/footer.pug
include layouts/components/filter.pug


doctype html 
html(lang='ru')
    +m-head
    body
        +header
        .container
            .breadcrumb
                .breadcrumb__list
                    a(href="##").breadcrumb__item Главная
                    a(href="##").breadcrumb__item Покупателю
                    .breadcrumb__item Документы
                .breadcrumb__title
                    a(href="##").breadcrumb__back
            .page-title
                a(href="##").page-title__back
                    svg
                        use(xlink:href="/assets/icons/sprite.svg#arrowRight")
                h2 Документы
                //- .page-title__count 233 #[span товара]
        .container
            .section
                .section__left
                    .link-section
                        //- .link-section__container
                        //-     .link-section__img
                        //-         img(src="/assets/images/milk-catalog.png" alt="Milk Catalog")
                        //-     .link-section__info
                        //-         .link-section__info-title Молоко, сыры, яйцо
                        //-         .link-section__info-value 154  товара
                        .link-section__list
                            a(href="##").link-section__item Помощь
                            a(href="##").link-section__item.link-section__item--active Документы
                            a(href="##").link-section__item Контакты
                .section__right
                    .mb-32
                        .h4.mb-20 Договор публичной оферты
                        .p 1. Общество - АО фирма «Агрокомплекс» им. Н.И. Ткачева (Юр. адрес: 353100, ст. Выселки, ул. Степная, д. 1). В дальнейшем-Продавец Услуга - оказание услуги по сбору продукции (далее – «Услуга»).
                        br
                        .p Покупатель – Гражданин, получающий услугу, имеющий намерение получить Услугу для дальнейшего приобретения товаров для нужд не связанных с осуществлением предпринимательской деятельностью.
                        br
                        .p 2. Порядок оказания услуги по сбору товара:
                        br
                        .p 2.1. Покупатель осуществляет заказ на сбор товаров в интернет-магазине «Агрокомплекс» для совершения покупки данных товаров при условии заполнения специальной формы на сайте agrokomplexshop.ru в результате формируется заказ (далее заявка покупателя).
                        br
                        .p 2.2. Сбор заказа по заявке покупателя в режиме реального времени, с учетом наличия товара. Общество не гарантирует постоянное и бесперебойное наличие указанных в каталоге товаров в интернет-магазине в момент сбора заказа. Если какой-либо товар отсутствует на остатке, сотрудник общества связывается с покупателем и предлагает заменить на аналогичный товар, если замена не возможна, товар удаляется из заказа, разница будет возвращена на карту после получения заказа, а на электронную почту придёт письмо с электронным чеком.
                        br
                        .p 2.3. Стоимость товаров в интернет-магазине «Агрокомплекс» может отличатся от цены в магазинах «Агрокомплекс» или иных торговых точках. Количество товаров в интернет-магазине ограничено.
                        br
                        .p 2.4. По факту готовности заказа Общество направляет Покупателю соответствующее сообщение или совершает звонок на мобильный номер телефона на указанные покупателем контактные данные при регистрации.
                        br
                        .p 2.5. В случае доставки товаров в продуктомат, покупателю приходит СМС с кодом, который необходимо ввести в продуктомате для получения товаров.
                        br
                        .p 2.6. Оплата товаров осуществляется в безналичной форме на сайте www.agrokomplexshop.ru методом двух-факторной авторизации платежа. В момент оплаты средства покупателя резервируются на счёте банка эквайринга и поступают на счёт продавца после передачи заказа покупателю. Кассовый чек будет отправлен на электронную почту покупателя, по факту передачи заказа. Чек на бумажном носителе не передаётся.
                        br
                        .p 2.7. Покупатель вправе полностью или частично отказаться от собранного заказа, уведомив об этом Общество не позднее 1-го часа с момента осуществления заказа, в противном случае услуга будет считаться выполненной для покупателя. Если товар, поставленный покупателю не имеет дефектов, соблюдены сроки годности товара, соблюдены временные сроки поставки товара, то покупатель может отказаться от заказа в одностороннем порядке полностью, предупредив сотрудников продавца по телефону горячей линии или огласив это курьеру. При этом стоимость доставки не возвращается покупателю при способе доставки курьером или в точку самовывоза, услуга считается выполненной со стороны продавца. Стоимость доставки равна 300 рублей. Телефон горячей линии для отмены заказа - 8 (800) 250-8-925.
                        br
                        .p 2.8. Продавец оставляет за собой право вносить изменения в правила / условия доставки и сбора товаров с публикацией соответствующих изменений на сайте www.agrokomplexshop.ru за один день до таких изменений. Продавец в праве отказать любому покупателю в предоставлении услуги в одностороннем порядке без объяснения причин (деньги будут возвращены покупателю на карту в течение 3-х банковских дней).
                        br
                        .p Услуга по сбору товаров не является продажей товаров. Получение Продавцом от Покупателя информации о намерении получить Услугу не является фактом заключения договора купли-продажи.
                        br
                        .p Услуга оказывается бесплатно.
                        br
                        .p АО фирма «Агрокомплекс» им. Н.И. Ткачева не осуществляет доставку товаров, приобретенных покупателем, в результате оказания Услуги. Доставка в адрес Покупателя может осуществляться силами третьих лиц.
                        br
                        .p Кассовый чек будет отправлен на электронную почту, указанную при регистрации, по факту получения заказа от курьера или в точке выдачи.
                        br
                        .p Внешний вид товаров может отличаться от изображенного на сайте. Производитель имеет право на внесение любых изменений без дополнительного уведомления об этих изменениях.
                        br
                        .p Возврат и обмен товара, приобретенного покупателем в результате оказания Услуги, осуществляется в соответствии с действующим законодательством, по акту приема-передачи.
                        br
                        .p Выбранный интервал может быть изменен при условии обязательного предупреждения Покупателем на горячую линию 8 (800) 250-8-925 не менее чем за 2 часа до фактической доставки.
                        br
                        .p Заполняя форму заказа на сбор товаров, покупатель подтверждает ознакомление и согласие с настоящим Условиями.
                        br
                        .p АО фирма «Агрокомплекс» им. Н.И. Ткачева вправе в любое время в одностороннем порядке внести изменения в настоящие Условия. Измененные Условия размещаются на сайте #[a agrokomplexshop.ru]
        +footer